body {
  background-color: rgb(238, 236, 236);
}

.background {
  background: rgb(238, 236, 236);
  text-align: center;
}

.indent {
  margin: 0% 8% 0% 8%;
  text-align: center;
}

.center-content {
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-color: lightgray;
}

.map-container {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center; 
  width: 480px;
  height: 250px;
  display: flex;
}
  
.detail-container {
  margin-right: 100px;
  padding-top: 40px;
  border-color: lightgray;
}

.search {
  margin: 20px;
}

.form-border  {
  margin: 20px;
  padding: 20px;
  /* border-style: dotted; */
  border-color: lightgray;
}

.home-border  {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.center {
  text-align: center;
}

.center-page {
  margin-left: 210px;
  margin-top: 150px;
  width: 50%;
  padding: 100px;
}

.errors {
  color: red;
}

.divider {
  border-width: thin;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  border-color: lightgray;
  border-style: solid;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  text-align: left;
  color: black;
  margin-left: 80px;
  margin-top: 23px;
  margin-bottom: 15px;
}

.logo-center {
  font-size: 30px;
  font-weight: 800;
  text-align: left;
  color: black;
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar {
  margin-right: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.left {
  margin-right: 250px;
}

.a {
  color: rgb(100, 96, 96);
}

h2 {
  color: rgb(89, 116, 8);
  /* color: teal; */
}

h3 {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

h5 {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.footer {
  border-top: 1px solid gray;
  color: #707070;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
}