body {
  background-color: rgb(238, 236, 236);
}

.background {
  background: rgb(238, 236, 236);
  text-align: center;
}

.indent {
  margin: 0% 8% 0% 8%;
  text-align: center;
}

.center-content {
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 40px;
  padding: 20px;
  border-color: lightgray;
}

.detail-container {
  margin-right: 80px;
  padding-top: 80px;
  /* width: 500px; */
  /* border-style: dotted; */
  border-color: lightgray;
}

.form-border  {
  margin: 20px;
  padding: 20px;
  border-style: dotted;
  border-color: lightgray;
}

.center {
  text-align: center;
}

.center-page {
  margin-left: 210px;
  margin-top: 150px;
  width: 50%;
  padding: 100px;
}

.errors {
  color: red;
}

.divider {
  border-width: thin;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  border-color: lightgray;
  border-style: solid;
}

a {
  color: rgb(100, 96, 96);
}

.footer {
  border-top: 1px solid gray;
  color: #707070;
  text-align: left;
  padding-bottom: 2px;
  padding-left: 3px;
  display: flex;
  justify-content: space-between;
}